<section class="video-overview">
	<div class="video-overview__container">
		{{> blocks/video-overview-text/video-overview-text }}
		{{> blocks/vendor-btns/vendor-btns dark=true }}
		{{> blocks/video/video }}
	</div>
</section>