.video-overview {
  background: var(--c_bg1);
}

// grid

.video-overview__container {
  display: grid;

  & .video-overview-text {
    grid-area: t;
  }
  & .vendor-btns {
    grid-area: b;
  }
  & .video {
    grid-area: v;
  }

  & .video-overview-text {
    @include align-self(center, start);
  }
  & .vendor-btns {
    @include align-self(center, start);
  }
  & .video {
    @include align-self(center, start);
  }

  & .video-overview-text {
    margin: 0 15rem;
    max-width: 500rem;

    text-align: center;
  }
  & .vendor-btns {
    margin: 0 15rem;
    &__link:first-child {
      margin-right: 30rem;
    }
  }
  & .video {
  }

  grid-template:
    "." var(--v_padding)
    "t" max-content
    "." var(--v_padding)
    "v" max-content
    "." var(--v_padding)
    "b" max-content
    "." var(--v_padding)
    / 1fr;

  @include from_1280 {
    & .video-overview-text {
      @include align-self(start, start);
    }
    & .vendor-btns {
      @include align-self(start, start);
    }
    & .video {
      @include align-self(start, start);
    }

    & .video-overview-text {
      max-width: auto;

      text-align: left;
    }
    & .video {
      margin-left: 17rem;
    }

    grid-template:
      ". . v v" 122rem
      ". t v v" max-content
      ". . v v" 48rem
      ". b v v" max-content
      ". . v v" 126rem
      / 1fr 600rem 600rem 1fr;
  }
}
