.s-overview {
  background: var(--c_bg1);

  &__container {
    @extend %container;
  }
}

// grid

.s-overview__container {
  display: grid;

  & .b-overview-list {
    grid-area: o;
  }

  & .b-overview-list {
    @include align-self(center, start);
  }

  & .b-overview-list {
    @include flex(wrap, center, flex-start);

    &__item {
      margin: 15rem;
    }
  }

  --cols_width: 0 1fr 0;
  grid-template:
    ". . ." var(--v_padding)
    ". o ." max-content
    ". . ." var(--v_padding)
    / var(--cols_width);

  @include from_600 {
    --cols_width: 1fr 500rem 1fr;
  }

  @include from_1280 {
    --v_padding: 126rem;
    --cols_width: 0 1fr 0;
  }
}
