.header {
	position: relative;
	z-index: 0;

	@include responsive-height( 320, 518, 1050 );
	@include responsive-height( 360, 640, 1050 );
	@include responsive-height( 393, 660, 1050 );
	@include responsive-height( 412, 702, 1050 );
	@include responsive-height( 600, 845, 1050 );
	@include responsive-height( 768, 533, 1050 );
	@include responsive-height( 1024, 560, 1050 );
	@include responsive-height( 1280, 1050, 1050 );

	&::before {
		position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;

	    content: '';

	    width: 100%;
		height: 100%;

		background: var( --c_overlay );
	}

	&__top-grid    { @extend %container; }
	&__center-grid { @extend %container; }
}					   

// grid

.header {
	display: grid;

	&__top-grid    { grid-area: t; }
	&__center-grid { grid-area: c; }

	--padding: 1fr;
	grid-template: 
		"t" max-content
		"." var( --padding )
		"c" max-content
		"." var( --padding )
		/ 1fr;

	@include from_1280 { --padding: 155rem; }
}

.header__top-grid { 
	display: grid;

	& .logo    { grid-area: l; }
	& .nav     { grid-area: n; }
	& .burger  { grid-area: b; }
	& .get-btn { grid-area: g; }

	& .logo    { @include align( start, center ); }
	& .nav     { @include align( center, center ); }
	& .burger  { @include align( start, center ); }
	& .get-btn { @include align( end, center ); }

	& .nav { display: none; }

	grid-template:
		". . . ." calc( var( --v_padding ) / 2 )
		"b . l g" max-content
		/max-content 15rem 1fr max-content;

	@include from_1024 {
		& .burger { display: none; } 
		& .nav    { display: flex; }

		grid-template:
			". . ." 57rem
			"l n g" max-content
			/ 1fr max-content 1fr; 
	}
}

.header__center-grid { 
	display: grid;

	& .header-text { grid-area: t; }
	& .header-img  { grid-area: i; }
	& .vendor-btns { grid-area: v; }

	& .header-text { @include align( center, start ); }
	& .header-img  { @include align( center, start ); }
	& .vendor-btns { @include align( center, start ); }	

    & .header-text { text-align: center; }
    & .vendor-btns { &__link:first-child { margin-right: 30rem; } }

    grid-template:
	    "t" max-content
	    "." var( --v_padding )
	    "i" max-content
	    "." var( --v_padding )
	    "v" max-content
	    / 1fr;

    @include from_768 {
		& .header-img  { @include align( end, start ); }
		& .vendor-btns { @include align( start, start ); }

		& .header-text { margin-top: -10rem; text-align: left; }

		grid-template:
		   ". i" max-content
		   "t i" max-content
		   ". i" 50rem
		   "v i" max-content
		   ". i" max-content
		   / 1fr 1fr; 
		}
}
