@use '../utilities/vars/breakpoints' as *;
@use '../utilities/placeholders/container' as *;
@use '../utilities/mixins/cell' as *;
@use '../utilities/mixins/prop' as *;
@use '../utilities/mixins/media' as *;
@use '../utilities/mixins/screen-height-section' as *;

.s-header {
  position: relative;
  z-index: 0; 

  @include prop(--v-padding, 1fr, (1280: 155px));
  @include screen-height-section((
    320: 560 700,
    360: 580 1050,
    412: 630 1050,
    480: 680 1050,
    600: 780 1050,
    768: 780 1050,
    1024: 768 1050,
    1280: 1050 1050
  ));

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: "";

    width: 100%;
    height: 100%;

    background: var(--c_overlay);
  }

  &__top-grid {
    @extend %container;
    width: 100%;
  }
  &__center-grid {
    @extend %container;
    width: 100%;
  }
}

// ----------------------------------------- grid -----------------------------------------

.s-header {
  display: grid;
  
  &__top-grid {
    @include cell(t);
  }
  &__center-grid {
    @include cell(c);
  }

  grid-template:
    "t" max-content
    "." var(--v-padding)
    "c" max-content
    "." var(--v-padding)
    / 1fr;
}

.s-header__top-grid {
  display: grid;

  @include prop(--v-padding, fluid, (320: 15px, 1280: 57px));
  
  & .b-logo {
    @include cell(l, start, center);
    @include prop(--size, fluid, $text-breakpoints);
  }
  & .b-nav {
    @include cell(n, center, center);
    @include prop(--size, 100px);
    @include prop(display, none, (1024: flex));
  }
  & .b-burger {
    @include cell(b, start, center);
    @include prop(--size, fluid, $text-breakpoints);
    @include prop(display, block, (1024: none));
  }
  & .b-get-btn {
    @include cell(g, end, center);
    @include prop(--size, fluid, $text-breakpoints);
  }

  grid-template:
    ". . . . ." var(--v-padding)
    "b . l . g" max-content
    / max-content 15px max-content 1fr max-content;

  @include from_1024 {
    grid-template:
      ". . ." var(--v-padding)
      "l n g" max-content
      /1fr max-content 1fr;
  }
}

.s-header__center-grid {
  display: grid;

  & .b-header-text {
    @include cell(t, center, start);
    @include prop(--size, fluid, $text-breakpoints);
    @include prop(text-align, center, (768: left));
    @include prop(margin-top, 0, (768: -10px));
  }
  & .b-header-img {
    @include cell(i, null, start);
    @include prop(--size, fluid, (320: 30px, 1280: 100px));
    @include prop(justify-self, center, (768: end));
  }
  & .b-vendor-btns {
    @include cell(v, null, start);
    @include prop(--size, fluid, $text-breakpoints);
    @include prop(justify-self, center, (768: start));
  }

  grid-template:
    "t" max-content
    "." 50px
    "i" max-content
    "." 50px
    "v" max-content
    / 1fr;

  @include from_768 {
    grid-template:
      ". i" max-content
      "t i" max-content
      ". i" 50px
      "v i" max-content
      ". i" max-content
      / 1fr 1fr;
  }
}
