@use '../utilities/vars/breakpoints' as *;
@use '../utilities/placeholders/container' as *;
@use '../utilities/mixins/cell' as *;
@use '../utilities/mixins/prop' as *;
@use '../utilities/mixins/media' as *;

.s-overview {
  background: var(--c_bg1);

  &__container {
    @extend %container-no-padding;
  }
}

// ----------------------------------------- grid -----------------------------------------

.s-overview__container {
  display: grid;

  & .b-overview-list {
    @include cell(o, center, start);
    @include prop(--size, fluid, $text-breakpoints);
    @include prop(width, 300px, (600: 600px, 1200: auto));

    &__item {
      @include prop(margin-top, size(45), (1200: size(15)));
      @include prop(margin-bottom, size(45), (1200: size(15)));
    }
  }

  @include prop(--v-padding, fluid, (320: 45px, 1280: 126px));
  grid-template:
    "." var(--v-padding)
    "o" max-content
    "." var(--v-padding)
    / 1fr;
}
