<div class="b-feature-text">
  <h2 class="b-feature-text__header">App Core <b>Features</b></h2>
  <p class="b-feature-text__text">
    It is a long established fact that a reader will be distracted its by the readable content of a page when at its
    layout.
  </p>
</div>