<!-- BEGIN B-HEADER-TEXT -->
<div class="b-header-text">
  <h1 class="b-header-text__header">
    <span class="b-header-text__header-bold">
      <span class="b-header-text__header-accent">App<span class="b-header-text__header-light">nest</span></span> 
      Best Mobile
    </span>
    App Landing Page
  </h1>
  <p class="b-header-text__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quia laboriosam adipisci assumenda quis
  </p>
</div>
<!-- END B-HEADER-TEXT -->
