<!-- BEGIN B-MOBILE-MENU -->
<div class="b-mobile-menu">
  <div class="b-mobile-menu__top">
    <button class="b-mobile-menu__burger-btn">
      <i class="b-mobile-menu__burger-icon fas fa-bars"></i>
    </button>
    <a href="#" class="b-mobile-menu__home-link">
      <i class="b-mobile-menu__logo icon icon-appnest"></i>
    </a>
  </div>

  <ul class="b-mobile-menu__list">
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">home</a>
    </li>
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">feature</a>
    </li>
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">pricing</a>
    </li>
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">team</a>
    </li>
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">blog</a>
    </li>
    <li class="b-mobile-menu__item">
      <a href="#" class="b-mobile-menu__link">contact</a>
    </li>
  </ul>
</div>
<!-- END B-MOBILE-MENU -->
