<!-- BEGIN B-NAV -->
<nav class="b-nav">
  <ul class="b-nav__list">
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Home</a>
    </li>
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Feature</a>
    </li>
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Pricing</a>
    </li>
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Team</a>
    </li>
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Blog</a>
    </li>
    <li class="b-nav__item">
      <a class="b-nav__link" href="#">Contact</a>
    </li>
  </ul>
</nav>
<!-- END B-NAV -->
