<div class="b-screenshots-list">
  <a href="#" class="b-screenshots-list__item">
    <img class="b-screenshots-list__img" src="img/image1.jpg" alt="image 1">
    <div class="b-screenshots-list__overlay">
      <i class="b-screenshots-list__overlay-icon icon icon-img_icon"></i>
    </div>
  </a>
  <a href="#" class="b-screenshots-list__item">
    <img class="b-screenshots-list__img" src="img/image2.png" alt="image 2">
    <div class="b-screenshots-list__overlay">
      <i class="b-screenshots-list__overlay-icon icon icon-img_icon"></i>
    </div>
  </a>
  <a href="#" class="b-screenshots-list__item">
    <img class="b-screenshots-list__img" src="img/image3.jpg" alt="image 3">
    <div class="b-screenshots-list__overlay">
      <i class="b-screenshots-list__overlay-icon icon icon-img_icon"></i>
    </div>
  </a>
</div>