<!-- BEGIN B-VENDOR-BTN -->
<a href="#" class="b-vendor-btn b-vendor-btn--{{type}} b-vendor-btn--{{style}}">
  <i class="b-vendor-btn__icon icon"></i>
  <p class="b-vendor-btn__text">download from</p>
  <b class="b-vendor-btn__store">{{type}} store</b>
</a>
<!-- END B-VENDOR-BTN -->