<!-- BEGIN B-VENDOR-BTNS -->
<ul class="b-vendor-btns">
  <li class="b-vendor-btns__item">
    <a href="#" class="b-vendor-btns__link b-vendor-btns__apple{{#if dark}} b-vendor-btns__link--dark{{/if}}">
      <i class="b-vendor-btns__icon icon{{#if dark}} icon-Apple-dark{{else}} icon-Apple{{/if}}"></i>
      <span class="b-vendor-btns__text">download from</span>
      <b class="b-vendor-btns__vendor">Apple Store</b>
    </a>
  </li>
  <li class="b-vendor-btns__item">
    <a href="#" class="b-vendor-btns__link b-vendor-btns__play{{#if dark}} b-vendor-btns__link--dark{{/if}}">
      <i class="b-vendor-btns__icon icon{{#if dark}} icon-Play-store-dark{{else}} icon-Play-store{{/if}}"></i>
      <span class="b-vendor-btns__text">download from</span>
      <b class="b-vendor-btns__vendor">Play Store</b>
    </a>
  </li>
</ul>
<!-- END B-VENDOR-BTNS -->
