<!-- BEGIN B-VIDEO-OVERVIEW-TEXT -->
<div class="b-video-overview-text">
  <h2 class="b-video-overview-text__header">App Overview For<br>Easy <b>Understanding</b></h2>
  <p class="b-video-overview-text__text">It is a long established fact that a reader will be distracted its by the
    readable content of a page when at its layout. As opposed it conten making it look like readable English.</p>
</div>
<!-- END B-VIDEO-OVERVIEW-TEXT -->
