<!-- BEGIN B-SCREENSHOTS-TEXT -->
<div class="b-screenshots-text">
  <h2 class="b-screenshots-text__header">Awesome <b>Screenshots</b></h2>
  <p class="b-screenshots-text__text">
    It is a long established fact that a reader will be distracted its by the readable content of a page when at its
    layout
  </p>
</div>
<!-- END B-SCREENSHOTS-TEXT -->
