<!-- BEGIN B-SCREENSHOTS-PAGINATION -->
<ul class="b-screenshots-pagination">
  <li class="b-screenshots-pagination__item">
    <button class="b-screenshots-pagination__btn" type="button"></button>
  </li>
  <li class="b-screenshots-pagination__item b-screenshots-pagination__item--active">
    <button class="b-screenshots-pagination__btn" type="button"></button>
  </li>
  <li class="b-screenshots-pagination__item">
    <button class="b-screenshots-pagination__btn" type="button"></button>
  </li>
  <li class="b-screenshots-pagination__item">
    <button class="b-screenshots-pagination__btn" type="button"></button>
  </li>
</ul>
<!-- END B-SCREENSHOTS-PAGINATION -->
