<!-- BEGIN B-STATS -->
<ul class="b-stats">
  <li class="b-stats__item">
    <i class="b-stats__icon icon icon-download"></i>
    <strong class="b-stats__value">250k</strong>
    <span class="b-stats__desc">App Download</span>
  </li>
  <li class="b-stats__item">
    <i class="b-stats__icon icon icon-users"></i>
    <strong class="b-stats__value">100k</strong>
    <span class="b-stats__desc">Active Users</span>
  </li>
  <li class="b-stats__item">
    <i class="b-stats__icon icon icon-awards"></i>
    <strong class="b-stats__value">20+</strong>
    <span class="b-stats__desc">Best Awards</span>
  </li>
  <li class="b-stats__item">
    <i class="b-stats__icon icon icon-happy"></i>
    <strong class="b-stats__value">95%</strong>
    <span class="b-stats__desc">Happy Users</span>
  </li>
</ul>
<!-- END B-STATS -->
