<!-- BEGIN VENDOR-BTN-LIST -->
<ul class="vendor-btn-list">
  <li class="vendor-btn-list__item">
    {{> vendor-btn type="apple" }}
  </li>
  <li class="vendor-btn-list__item">
    {{> vendor-btn type="play" }}
  </li>
</ul>
<!-- END VENDOR-BTN-LIST -->
