.s-screenshots {
  background: var(--c_bg2);

  &__container {
    @extend %container;
  }
}

// grid

.s-screenshots__container {
  display: grid;

  & .b-screenshots-text {
    grid-area: t;
  }
  & .b-screenshots-list {
    grid-area: l;
  }
  & .b-screenshots-pagination {
    grid-area: p;
  }

  & .b-screenshots-text {
    @include align-self(center, start);
  }
  & .b-screenshots-list {
    @include align-self(center, start);
  }
  & .b-screenshots-pagination {
    @include align-self(center, start);
  }

  & .b-screenshots-text {
    text-align: center;
  }
  & .b-screenshots-list {
  }
  & .b-screenshots-pagination {
  }

  grid-template:
    "." var(--v_padding)
    "t" max-content
    "." var(--v_padding)
    "l" max-content
    "." var(--v_padding)
    "p" max-content
    "." var(--v_padding)
    / 1fr;
}
