@use '../utilities' as *;
@include set-block('.b-feature-text');

// ----------------------------------------- display -----------------------------------------

@include e('text') {
  margin-top: size(10);
}

// ----------------------------------------- box -----------------------------------------

@include b {
  max-width: size(465);
}

// ----------------------------------------- text -----------------------------------------

@include e('header') {
  @include text(var(--ff-header), var(--fw-bold), size(36), size(48), var(--c-h2));

  & b {
    color: var(--c-accent);
  }
}

@include e('text') {
  @include text(var(--ff-text), var(--fw-regular), size(15), size(24), var(--c-text));
}
