// @use 'reset';
@use 'utilities' as *;
// @use 'assets';
// @use 'common';
// @use 'blocks';
// @use 'sections';
// @use 'pages';

:root { @include css($css); }

body {
  @include css((
    --size: 100px,
    font-size: calc(2px * 5),
    width: width(500px, 1000px),
    color: set-opacity(--c-text, 0.8)
  ));
}
