:root { 
	--text_size: 60; 
	--v_padding: 30rem;

	@include from_360  {
		--text_size: 70;
		--v_padding: 45rem; 
	}
	@include from_375  {}
	@include from_393  {}
	@include from_412  {}
	@include from_480  {}

	@include from_600  {
		--text_size: 80;
		--v_padding: 60rem; 
	}
	@include from_768  {}
	@include from_800  {}
	@include from_834  {}
	@include from_960  {}
	@include from_1024 {} 

	@include from_1280 {
		--text_size: 100;
	}
} 


// images

.header__center-grid .header-img  { --size: 28; }
.features__container .feature-img  { --size: 50; }

@include from_360  {}
@include from_375  {}
@include from_393  {
	.header__center-grid .header-img  { --size: 40; }
}
@include from_412  {
	.header__center-grid .header-img  { --size: 47; }
}
@include from_480  {}

@include from_600  {
	.header__center-grid .header-img  { --size: 54; }
}
@include from_768  {
	.features__container .feature-img  { --size: 70; }
}
@include from_800  {}
@include from_834  {}
@include from_960  {}
@include from_1024 {
	.features__container .feature-img  { --size: 100; }
} 

@include from_1280 {
	.header__center-grid .header-img  { --size: 100; }
}


// other

.video { --size: 60; }

@include from_360  {}
@include from_375  {}
@include from_393  {
	.video { --size: 80; }
}
@include from_412  {}
@include from_480  {}

@include from_600  {  
	.video { --size: 100; }
}
@include from_768  {}
@include from_800  {}
@include from_834  {}
@include from_960  {}
@include from_1024 {} 

@include from_1280 {}