// stripping units from value
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// value become dependent on --size value
@function size($value) {
  @return calc(#{strip-unit($value)} * (var(--size) / 100));
}

// --size value slowly progresses from min to max between min-vw and max-vw
@mixin fluid-size($min-size, $max-size, $min-vw, $max-vw) {
  --size: #{$min-size};

  @media screen and (min-width: #{$min-vw}) {
    --size: calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  }
  @media screen and (min-width: #{$max-vw}) {
    --size: #{$max-size};
  }
}

@mixin fluid-text-size {
  @include fluid-size(60px, 100px, 320px, 1280px);
}

@mixin text($ff, $fw, $c, $fz, $lh, $tt: false, $ta: false, $td: false, $fs: false) {
  font-family: var($ff);
  font-weight: var($fw);
  color: var($c);
  font-size: $fz;
  line-height: $lh;
  @if $tt {
    text-transform: $tt;
  }
  @if $ta {
    text-align: $ta;
  }
  @if $td {
    text-decoration: $td;
  }
  @if $fs {
    font-style: $fs;
  }
}

@mixin flex($w, $j, $a) {
  display: flex;
  flex-flow: row $w;
  justify-content: $j;
  align-items: $a;
}

@mixin align($justify, $align) {
  justify-self: $justify;
  align-self: $align;
}

// mobile
@mixin from_360 {
  @media only screen and (min-width: 360px) {
    @content;
  }
} // от 180
@mixin from_375 {
  @media only screen and (min-width: 375px) {
    @content;
  }
} // от 187
@mixin from_393 {
  @media only screen and (min-width: 393px) {
    @content;
  }
} // от 196
@mixin from_412 {
  @media only screen and (min-width: 412px) {
    @content;
  }
} // от 206
@mixin from_480 {
  @media only screen and (min-width: 480px) {
    @content;
  }
} // от 240

// tablet
@mixin from_600 {
  @media only screen and (min-width: 600px) {
    @content;
  }
} // от 300
@mixin from_768 {
  @media only screen and (min-width: 768px) {
    @content;
  }
} // от 384
@mixin from_800 {
  @media only screen and (min-width: 800px) {
    @content;
  }
} // от 400
@mixin from_834 {
  @media only screen and (min-width: 834px) {
    @content;
  }
} // от 417
@mixin from_960 {
  @media only screen and (min-width: 960px) {
    @content;
  }
} // от 480
@mixin from_1024 {
  @media only screen and (min-width: 1024px) {
    @content;
  }
} // от 512

// desktop
@mixin from_1280 {
  @media only screen and (min-width: 1280px) {
    @content;
  }
} // от 640
@mixin from_1366 {
  @media only screen and (min-width: 1366px) {
    @content;
  }
} // от 683
@mixin from_1440 {
  @media only screen and (min-width: 1440px) {
    @content;
  }
} // от 720
@mixin from_1536 {
  @media only screen and (min-width: 1536px) {
    @content;
  }
} // от 768
@mixin from_1600 {
  @media only screen and (min-width: 1600px) {
    @content;
  }
} // от 800
@mixin from_1920 {
  @media only screen and (min-width: 1920px) {
    @content;
  }
} // от 960
@mixin from_2560 {
  @media only screen and (min-width: 2560px) {
    @content;
  }
} // от 1280
@mixin from_3840 {
  @media only screen and (min-width: 3840px) {
    @content;
  }
} // от 1920

@mixin from_($w) {
  @media only screen and (min-width: #{$w}px ) {
    @content;
  }
}

@mixin responsive-height($min-width, $min-height, $max-height) {
  @media only screen and ( min-width: #{$min-width}px ) {
    min-height: #{$min-height}px;
  }
  @media only screen and ( min-width: #{$min-width}px ) and ( max-height: #{$max-height}px ) {
    height: 100vh;
  }
}
