:root {
  --c_accent: #00cff1; // голубой
  --c_active: #24c657; // зеленый
  --c_overlay: rgba(53, 32, 59, 0.9); // фиолетовый
  --c_overview1: #ff45c4; // розовый
  --c_overview2: #ff9d46; // оранжевый

  --c_header_text: #ffffff; // белый
  --c_text: #565656; // серый
  --c_h2: #282828; // черный
  --c_h3: #414040; // серый

  --c_pagination: #ebe9ff; // светло-синеватый

  --c_bg1: #fbfbfb; // белый
  --c_bg2: #ffffff; // белый

  --c_facebook: #3b5998;
  --c_twitter: #55acee;
  --c_instagram: #6a453b;
  --c_linked: #007ab9;

  --ff_header: "Poppins", sans-serif;
  --ff_text: "Raleway", sans-serif;

  --fw_thin: 100;
  --fw_extra_light: 200;
  --fw_light: 300;
  --fw_regular: 400;
  --fw_medium: 500;
  --fw_semi_bold: 600;
  --fw_bold: 700;
  --fw_extra_bold: 800;
  --fw_black: 900;
}

$text-breakpoints: (320: 60px, 1280: 100px);

// placeholders

%container {
  max-width: 1200px;
  @include prop(padding-left, fluid, (320: 15px, 768: 45px, 1280: 15px));
  @include prop(padding-right, fluid, (320: 15px, 768: 45px, 1280: 15px));
  margin-left: auto;
  margin-right: auto;
}
%container-no-padding {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
