<div class="b-video">
  <div class="b-video__poster">
    <img src="img/table.jpg" alt="video poster" class="b-video__img">
    <div class="b-video__icon-wrap">
      <i class="b-video__icon icon icon-Play-Icon"></i>
    </div>
  </div>
</div>