@use '../utilities' as *;
@use '../blocks';

@mixin c-top-line($action, $args...) {
  .c-top-line {
    @if $action == 'init' { @include _main; }
    @else if $action == 'grid-with-burger' { @include _grid-with-burger; }
    @else if $action == 'grid-with-nav' { @include _grid-with-nav; }

    @else { @error 'No such action - #{$action}'; }
  }
}

@mixin _main {
  @include blocks.b-burger('fluid-size');
  @include blocks.b-logo('fluid-size');
  @include blocks.b-nav('original-size');
  @include blocks.b-get-btn('fluid-size');

  @include blocks.b-burger('area', b, start, center);
  @include blocks.b-logo('area', l, start, center);
  @include blocks.b-nav('area', n, center, center);
  @include blocks.b-get-btn('area', g, end, center);

  display: grid;
}

@mixin _grid-with-burger {
  @include blocks.b-burger('show');
  @include blocks.b-nav('hide');

  grid-template: 
    "b . l . g" max-content
    / max-content 15px max-content 1fr max-content;
}

@mixin _grid-with-nav {
  @include blocks.b-burger('hide');
  @include blocks.b-nav('show');

  grid-template: 
    "l n g" max-content
    / 1fr max-content 1fr;
}