<div class="screenshots-text">
  <h2 class="screenshots-text__header">Awesome <b>Screenshots</b></h2>
  <p class="screenshots-text__text">
    It is a long established fact that a reader will be distracted its by the readable content of a page when at its
    layout
  </p>
</div>