@use 'prop' as *;

@mixin align(
  $ju-co: null, 
  $ju-it: null, 
  $ju-se: null,

  $al-co: null, 
  $al-it: null, 
  $al-se: null,

  $te-al: null, 
  $ve-al: null
) {
  @include prop(justify-content, $ju-co);
  @include prop(justify-items, $ju-it);
  @include prop(justify-self, $ju-se);

  @include prop(align-content, $al-co);
  @include prop(align-items, $al-it);
  @include prop(align-self, $al-se);
  
  @include prop(text-align, $te-al);
  @include prop(vertical-align, $ve-al);
}