@use 'prop' as *;

@mixin block($d: null, 
             $w: null,
             $min-w: null,
             $max-w: null,
             $h: null,
             $min-h: null,
             $max-h: null,
             $p: null,
             $p-top: null,
             $p-right: null,
             $p-bottom: null,
             $p-left: null,
             $b: null,
             $b-width: null,
             $b-style: null,
             $b-color: null,
             $b-radius: null,
             $m: null,
             $m-top: null,
             $m-right: null,
             $m-bottom: null,
             $m-left: null,
             ) {
  @include prop(display, $d);
  @include prop(width, $w);
  @include prop(min-width, $min-w);
  @include prop(max-width, $max-w);
  @include prop(height, $h);
  @include prop(min-height, $min-h);
  @include prop(max-height, $max-h);
  @include prop(padding, $p);
  @include prop(padding-top, $p-top);
  @include prop(padding-right, $p-right);
  @include prop(padding-bottom, $p-bottom);
  @include prop(padding-left, $p-left);
  @include prop(border, $b);
  @include prop(border-width, $b-width);
  @include prop(border-style, $b-style);
  @include prop(border-color, $b-color);
  @include prop(border-radius, $b-radius);
  @include prop(margin, $m);
  @include prop(margin-top, $m-top);
  @include prop(margin-right, $m-right);
  @include prop(margin-bottom, $m-bottom);
  @include prop(margin-left, $m-left);
}