@use 'prop' as *;

@mixin box(
  $w: null,
  $min-w: null,
  $max-w: null,
  $h: null,
  $min-h: null,
  $max-h: null,
  $p: null,
  $pt: null,
  $pr: null,
  $pb: null,
  $pl: null,
  $b: null,
  $bw: null,
  $bs: null,
  $bc: null,
  $br: null,
  $m: null,
  $mt: null,
  $mr: null,
  $mb: null,
  $ml: null,
) {
  @include prop(width, $w);
  @include prop(min-width, $min-w);
  @include prop(max-width, $max-w);
  @include prop(height, $h);
  @include prop(min-height, $min-h);
  @include prop(max-height, $max-h);
  @include prop(padding, $p);
  @include prop(padding-top, $pt);
  @include prop(padding-right, $pr);
  @include prop(padding-bottom, $pb);
  @include prop(padding-left, $pl);
  @include prop(border, $b);
  @include prop(border-width, $bw);
  @include prop(border-style, $bs);
  @include prop(border-color, $bc);
  @include prop(border-radius, $br);
  @include prop(margin, $m);
  @include prop(margin-top, $mt);
  @include prop(margin-right, $mr);
  @include prop(margin-bottom, $mb);
  @include prop(margin-left, $ml);
}