@use 'prop' as *;

@mixin box(
  $wi: null,
  $mi-wi: null,
  $ma-wi: null,

  $he: null,
  $mi-he: null,
  $ma-he: null,

  $pa: null,
  $pa-to: null,
  $pa-ri: null,
  $pa-bo: null,
  $pa-le: null,
  
  $ma: null,
  $ma-to: null,
  $ma-ri: null,
  $ma-bo: null,
  $ma-le: null,

  $bo-si: null
) {
  @include prop(width, $wi);
  @include prop(min-width, $mi-wi);
  @include prop(max-width, $ma-wi);

  @include prop(height, $he);
  @include prop(min-height, $mi-he);
  @include prop(max-height, $ma-he);

  @include prop(padding, $pa);
  @include prop(padding-top, $pa-to);
  @include prop(padding-right, $pa-ri);
  @include prop(padding-bottom, $pa-bo);
  @include prop(padding-left, $pa-le);

  @include prop(margin, $ma);
  @include prop(margin-top, $ma-to);
  @include prop(margin-right, $ma-ri);
  @include prop(margin-bottom, $ma-bo);
  @include prop(margin-left, $ma-le);

  @include prop(box-sizing, $bo-si);
}