@use 'prop' as *;

@mixin display(
  $di: null, 
  $co: null, 

  $ov: null, 
  $ov-x: null, 
  $ov-y: null 
) {
  @include prop(display, $di);
  @include prop(content, $co);

  @include prop(overflow, $ov);
  @include prop(overflow-x, $ov);
  @include prop(overflow-y, $ov);
}