@use 'prop' as *;

@mixin flex(
  $fl-di: null, 
  $fl-wr: null, 
  $fl-gr: null, 
  $fl-sh: null, 
  $fl-ba: null
) {
  @include prop(flex-direction, $fl-di);
  @include prop(flex-wrap, $fl-wr);
  @include prop(flex-grow, $fl-gr);
  @include prop(flex-shrink, $fl-sh);
  @include prop(flex-basis, $fl-ba);
}