@use 'prop' as *;

@mixin grid(
  $gr-ar: null,
  $gr-te-ar: null,
  $gr-te: null,

  $gr-te-co: null,
  $gr-te-ro: null,

  $gr-au-fl: null,
  $gr-au-co: null,
  $gr-au-ro: null,

  $gr-ga: null,
  $gr-ro-ga: null,
  $gr-co-ga: null,

  $gr-co: null,
  $gr-co-st: null,
  $gr-co-en: null,

  $gr-ro: null,
  $gr-ro-st: null,
  $gr-ro-en: null
) {
  @include prop(grid-area, $gr-ar);
  @include prop(grid-template-areas, $gr-te-ar);
  @include prop(grid-template, $gr-te);

  @include prop(grid-template-columns, $gr-te-co);
  @include prop(grid-template-rows, $gr-te-ro);

  @include prop(grid-auto-flow, $gr-au-fl);
  @include prop(grid-auto-columns, $gr-au-co);
  @include prop(grid-auto-rows, $gr-au-ro);

  @include prop(grid-gap, $gr-ga);
  @include prop(grid-row-gap, $gr-ro-ga);
  @include prop(grid-column-gap, $gr-co-ga);

  @include prop(grid-column, $gr-co);
  @include prop(grid-column-start, $gr-co-st);
  @include prop(grid-column-end, $gr-co-en);

  @include prop(grid-row, $gr-ro);
  @include prop(grid-row-start, $gr-ro-st);
  @include prop(grid-row-end, $gr-ro-en);
}