@use 'prop' as *;

@mixin position(
  $po: null, 
  $to: null, 
  $ri: null, 
  $bo: null, 
  $le: null, 
  $z-in: null
) {
  @include prop(position, $po);
  @include prop(top, $to);
  @include prop(right, $ri);
  @include prop(bottom, $bo);
  @include prop(left, $le);
  @include prop(z-index, $z-in);
}
