@use 'prop' as *;

@mixin table(
  $ca-si: null, 
  $bo-co: null, 
  $bo-sp: null, 
  $em-ce: null, 
  $ta-la: null
) {
  @include prop(caption-side, $ca-si);
  @include prop(border-collapse, $bo-co);
  @include prop(border-spacing, $bo-sp);
  @include prop(empty-cells, $em-ce);
  @include prop(table-layout, $ta-la);
}