@use 'sass:meta';
@use 'sass:list';
@use '../functions/is-string' as *;
@use '../functions/is-list' as *;
@use '../functions/is-map' as *;
@use '../functions/to-px' as *;
@use '../functions/remove-elem' as *;
@use 'process-breakpoints' as *;
@use 'process-fluid' as *;


@mixin process-value($prop, $value) {
  @if not is-string($prop) {
    @error "$prop in some() must be 'string', '#{meta.type-of($prop)}' - provided";
  }

  @if is-map($value) {
    @include process-breakpoints($prop, $value);
  } @else if is-list($value) and is-map(list.nth($value, -1)) {
    $bps: list.nth($value, -1);
    $init-value: remove-elem($value, $bps);

    @if list.length($init-value) == 1 {
      $init-value: list.nth($init-value, 1);
    }

    @if $init-value == 'fluid' {
      @include process-fluid($prop, $bps);
    } @else {
      #{$prop}: $init-value;
      @include process-breakpoints($prop, $bps);
    }
  } @else {
    #{$prop}: $value;
  }
}

@mixin test($d: row, $w: nowrap, $j: flex-start, $a: stretch, $b: null) {
  display: flex;
  @include process-value(flex-direction, $d);
  @include process-value(flex-wrap, $w);
  @include process-value(justify-content, $j);
  @include process-value(align-items, $a);
  @include process-value(border, $b);
}