@use 'prop' as *;

@mixin text(
  $fo-fa: null, 
  $fo-we: null, 
  $fo-si: null, 
  $li-he: null, 
  $co: null, 

  $fo-st: null, 
  $te-tr: null, 
  $te-de: null, 
  $te-sh: null
) {
  @include prop(font-family, $fo-fa);
  @include prop(font-weight, $fo-we);
  @include prop(font-size, $fo-si);
  @include prop(line-height, $li-he);
  @include prop(color, $co);

  @include prop(font-style, $fo-st);
  @include prop(text-transform, $te-tr);
  @include prop(text-decoration, $te-de);
  @include prop(text-shadow, $te-sh);
}