@use 'prop' as *;

@mixin transform(
  $tr: null, 
  $tr-or: null, 
  $pe: null, 
  $pe-or: null, 
  $ba-vi: null
) {
  @include prop(transform, $tr);
  @include prop(transform-origin, $tr-or);
  @include prop(perspective, $pe);
  @include prop(perspective-origin, $pe-or);
  @include prop(backface-visibility, $ba-vi);
}