<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Feature</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Pricing</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Team</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Blog</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Contact</a>
    </li>
  </ul>
</nav>