@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';

@function test($test-list) {
  @if meta.type-of($test-list) != list {
    @error "test() expects 'list', '#{meta.type-of($test-list)}' - provided";
  }

  $passed-count: 0;
  $failed-count: 0;
  $output: ();

  @each $test in $test-list {
    $actual: map.get($test, 'actual');
    $expected: map.get($test, 'expected');
    $message: map.get($test, 'message');

    @if $actual == $expected {
      $output: list.append($output, $message + " - ✓");
      $passed-count: $passed-count + 1;
    } @else {
      $output: list.append($output, $message + " - FAIL!");
      $failed-count: $failed-count + 1;
    }
  }

  @debug '-----------------------------';
  @each $message in $output {
    @debug $message;
  }
  @debug '-----------------------------';
  @debug "#{$passed-count} tests passed";

  @if $failed-count > 0 {
    @warn "#{$failed-count} tests failed!";
  }

  @return true;
}