@use 'type' as *;
@use 'list';
@use 'number';

@function _calc($str) {
  $str: validate($str, 'string');
  @return unquote("calc(#{$str})");
}

@function get-fluid($w1, $w2, $val1, $val2 ) {
  $w1: validate($w1, 'number');
  $w2: validate($w2, 'number');
  $val1: validate($val1, 'number');
  $val2: validate($val2, 'number');

  $w1: number.to-px($w1);
  $w2: number.to-px($w2);
  $val1: number.to-px($val1);
  $val2: number.to-px($val2);

  $w-diff: number.strip-unit($w2 - $w1);
  $val-diff: number.strip-unit($val2 - $val1);

  @return _calc('#{$val1} + #{$val-diff} * ((100vw - #{$w1}) / #{$w-diff})');
}

@function wrap-css-vars($value, $args...) {
  @if is($value, 'string') and str-index($value, '--') == 1 { @return unquote('var(#{$value})'); }
  @if is($value, 'list|map') { @return list.map($value, get-function('wrap-css-vars')); }
  @return $value;
}
