@function switch() {
  
}

@function p($name: 'default') {
  @return placeholder.create($name);
}

@function f($str, $args...) {
  $module: fn.get-module-name($str);
  $fn: fn.get-function-name($str);
  $port: fn.get-port-name($str);
  $args: fn.arglist-to-list($args);

  $fn-exists: if(
    $module,
    map-has-key(meta.module-functions($module), $fn),
    function-exists($fn)
  );

  @if not $fn-exists { @error 'No such function: "#{$fn}"'; }
  
  @return fn.create(get-function($fn, $module: $module), $port, $args);
}

@function invoke($fns...) {
  $ports: ports.reset();
  $result: fn.invoke-fn-list(fn.arglist-to-list($fns));
  $ports: ports.reset();
  @return $result;
}

@function throw($message) {
  @error $message;
}
