@use 'type' as *;
@use 'list';
@use '../custom-props' as *;

@function exists($prop) { @return map-has-key($custom-props, $prop); }
@function _truthy($value, $args...) { @return $value; }

@function _create-prop-map($prop, $i, $props, $values) { 
  $value: if($i > length($values), null, nth($values, $i));
  @return ($prop: $value);
}

@function get-props($prop, $values) {
  @if not exists($prop) { @error "No such custom prop - '#{inspect($prop)}'"; }
  $values: validate($values, 'list');
  $props: map-get($custom-props, $prop);

  $prop-map: list.list-to-map($props, get-function('_create-prop-map'), $values);
  @return list.filter($prop-map, get-function('_truthy'));
}
