@use 'prop' as *;

// ----------------------------------------- flex -----------------------------------------

@mixin flex($wrap, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-flow: row $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-item($grow: null, $shrink: null, $basis: null, $align: null ) {
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;
  align-self: $align;
}

// ----------------------------------------- grid -----------------------------------------

@mixin grid($template) {
  display: grid;
  @include p(grid-template, $template);
}

@mixin area($area, $justify: start, $align: start) {
  grid-area: $area;
  @include p(justify-self, $justify);
  @include p(align-self, $align);
}

// ----------------------------------------- pseudo -----------------------------------------

@mixin hover-center-line($height, $bottom, $color, $transition) {
  position: relative;

  &::after {
    position: absolute;
    left: 50%;
    bottom: $bottom;
    content: '';
    width: 0%;
    height: $height;
    background: $color;
    transition: $transition;
  }

  &:hover::after {
    display: block;
    left: 0;
    width: 100%;
  }
}

@mixin hover-left-line($height, $bottom, $color, $duration) {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: $bottom;
    content: '';
    background: $color;
    width: 0%;
    height: $height;
    transition: $duration;
  }

  &:hover::after {
    display: block;
    width: 100%;
  }
}

@mixin hover-right-line($height, $bottom, $color, $duration) {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: $bottom;
    content: '';
    background: $color;
    width: 0%;
    height: $height;
    transition: $duration;
  }

  &:hover::after {
    display: block;
    width: 100%;
  }
}