@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

@function throw($message) {
  @error $message;
}

@function is-function($value) {
  @return type-of($value) == 'function';
}

@function is-function-list($value) {
  @return type-of($value) == 'list' and type-of(list.nth($value, 1)) == 'function';
}

@function invoke($item) {
  @return if(
    is-function-list($item) or is-function($item), 
    call($item...), 
    throw('invoke() expects function-list or function, #{type-of($item)} - provided')
  );
}

@function pipe($list) {
  @if type-of($list) != 'list' { @error 'pipe() expects list, #{type-of($list)} - provided'; }

  $result: null;
  @each $item in $list {
    @if type-of($item) == 'list' {
      $placeholder: list.index($item, '<>');
      @if $placeholder {
        $item: list.set-nth($item, $placeholder, $result);
      }
    }

    $result: invoke($item);
  }

  @return $result;
}

@function return-or-invoke($value) {
  @return if(is-function-list($value) or is-function($value), invoke($value), $value);
}


@function if-else($cond, $then, $else) {
  @return if(return-or-invoke($cond), return-or-invoke($then), return-or-invoke($else));
}



@function join($a, $b) {
  @return list.join($a, $b);
}

@function exists($value) {
  @return $value != null;
}
@function to-list($str) {
  @return list.append((), $str);
}

@function has($str, $sep) {
  @return if(
    $sep == '' and $str == '',
    null,
    string.index($str, $sep)
  );
}

@function first-half($str, $sep) {
  @return string.slice(
    $str, 
    1, 
    if($sep == '', string.index($str, $sep), string.index($str, $sep) - 1)
  );
}

@function second-half($str, $sep) {
  @return string.slice($str, string.index($str, $sep) + 1);
}


@function _split-with-sep($str, $sep) {
  @return if(
    has($str, $sep),
    join(
      to-list(first-half($str, $sep)),
      _split-with-sep(second-half($str, $sep), $sep)
    ),
    to-list($str)
  );
}

@function split($str, $sep: null) {
  @return if(
    exists($sep),
    _split-with-sep($str, $sep),
    to-list($str)
  );
}

@debug split('fuck you', '');





@function check-type($value, $expected, $message) {
  @if type-of($expected) != 'string' { @error 'type must be string in check-type(), #{type-of($expected)} - provided'; }
  @if type-of($message) != 'string' { @error 'message must be string in check-type(), #{type-of($message)} - provided'; }

  // $expected: pipe(
  //   get-function('index', $module: 'string') $expected '|',
  //   get-function('if') '<>' 
  // );

  $actual: type-of($value);
  $separator: string.index($expected, '|');
  $type-placeholder: string.index($message, '%t');

  @if $type-placeholder {
    $message: string.slice($message, 1, $type-placeholder - 1) + 
              $actual + 
              string.slice($message, $type-placeholder + 2);
  }

  @if $separator {
    $expected1: string.slice($expected, 1, $separator - 1);
    $expected2: string.slice($expected, $separator + 1);

    @if $actual != $expected1 and $actual != $expected2 { @error $message; }
  } @else {
    @if $actual != $expected { @error $message; }
  }

  @return $value;
}


@function switch($cond, $cases) {
  @if type-of($cases) != 'map' {
    @error 'cases must be map in switch(), #{type-of($cases)} - provided';
  }

  $default: map.get($cases, 'default');
  @if not $default {
    @error 'cases must have default prop in switch()';
  }

  @each $case, $value in $cases {
    @if $cond == $case {
      @return if(type-of($value) == 'function', call($value), $value);
    }
  }

  @return if(type-of($default) == 'function', call($default), $default);
}



