@use 'types' as *;

/**
* outputs declaration in css 
*
* @param {string} prop
* @param {*} value
*/

@mixin prop($prop, $value) { 
  $prop: validate($prop, 'string');
  #{$prop}: $value; 
}

/**
* outputs min-width media queries in css
*
* @param {string} prop
* @param {map} bps - breakpoints with values - (768px: block, 1024px: none)
*/

@mixin breakpoints($prop, $bps) {
  $prop: validate($prop, 'string');
  $bps: validate($bps, 'map');

  @each $width, $value in $bps {
    @if unit($width) != 'px' { @error "width must be px number, '#{inspect($width)}' - provided"; }

    @media screen and (min-width: $width) {
      @include prop($prop, $value);
    }
  }
}

/**
* outputs block in css
*
* @param {string} selector
*/

@mixin block($selector) {
  #{$selector} { 
    @content; 
  }
}

/**
* outputs root block in css
*
* @param {string} selector
*/

@mixin root-block($selector) {
  @at-root #{$selector} { 
    @content; 
  }
}