@use 'sass:map';

$ports: (
  'default': null
);

@function exists($port) {
  @return map-has-key($ports, $port);
}

@function reset() {
  $ports: ('default': null) !global;
  @return $ports;
}

@function get($port) {
  @if not exists($port) { @error "no such port '#{$port}'"; }
  @return map-get($ports, $port);
}

@function set($port, $value) {
  $ports: map.set($ports, $port, $value) !global;
  @return $ports;
}
