@use 'sass:meta';
@use '../vars';

// ----------------------------------------- private -----------------------------------------

/**
* gets variables map 
*
* @returns {map}
*/

@function _vars() { @return meta.module-variables('vars'); }

// ----------------------------------------- public -----------------------------------------

/**
* whether variables map has provided variable
*
* @param {...string} names - nested var name structure
*
* @returns {bool}
*/

@function has($names...) {
  $vars: _vars();
  @each $name in $names {
    $vars: map-get($vars, $name);
    @if not $vars { @return false; }
  }

  @return true;
}

/**
* gets variable value
*
* @param {...string} names - nested var name structure
*
* @returns {*} value
*/

@function get($names...) {
  $value: _vars();
  @each $name in $names {
    $value: map-get($value, $name);
    @if not $value { @error "Nu such variable: '#{$name}'"; }
  }

  @return $value;
}

