.get-btn {
  @include fluid-text-size;

  padding: size(20) size(34);
  border: size(1) solid var(--c_header_text);
  border-radius: size(32);

  transition: 0.3s;

  &:hover {
    background: var(--c_active);
    border-color: var(--c_active);
  }

  &__link {
    @include text(--ff_header, --fw_semi_bold, --c_header_text, size(16), size(16), uppercase);
  }
}
