@use '../utilities' as *;
@include set-block('.b-burger');

// ----------------------------------------- box -----------------------------------------

@include b {
  padding: size(10);
  border-width: size(1);
}

// ----------------------------------------- style -----------------------------------------

@include b {
  @include border-style(solid, var(--c-header-text), size(6));

  &:hover {
    border-color: var(--c-active);
  }
}

// ----------------------------------------- text -----------------------------------------

@include b {
  color: var(--c-header-text);

  &:hover { 
    color: var(--c-active); 
  }

  & .fas {
    font-size: size(33);
    line-height: size(35);
  }
}

// ----------------------------------------- animation -----------------------------------------

@include b {
  transition: var(--t-all);
}
