@use '../utilities' as *;

.b-burger {
  padding: size(10);
  color: var(--c-header-text);
  border: size(1) solid var(--c-header-text);
  border-radius: size(6);
  transition: 0.3s;
  
  &:hover {
    color: var(--c-active);
    border-color: var(--c-active);
  }

  & .fas {
    font-size: size(33);
    line-height: size(35);
  }
}
