@use '../utilities' as *;

.b-burger {
  @include css((
    padding: size(10),
    color: --c-header-text,
    bor: (size(1) solid --c-header-text) size(6),
    transition: 0.3s
  ));
  
  &:hover {
    @include css((
      color: --c-active,
      border-color: --c-active
    ));
  }

  & .fas {
    @include css((
      font-size: size(33),
      line-height: size(35)
    ));
  }
}
