@use '../utilities' as *;

// ----------------------------------------- display -----------------------------------------

.b-feature-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  &__front {
    margin-left: size(-98);
  }
}

// ----------------------------------------- box -----------------------------------------

.b-feature-img {
  &__front {
    width: size(304);
    height: size(609);
  }

  &__back {
    width: size(265);
    height: size(531);
  }
}

// ----------------------------------------- style -----------------------------------------

.b-feature-img {
  &__front {
    object-fit: contain;
  }
  &__back {
    object-fit: contain;
  }
}
