@use '../utilities/functions/size' as *;
@use '../utilities/mixins/text' as *;

.b-feature-text {
  padding: 0 15px;
  
  &__header {
    @include text(
      $ff: --ff_header, 
      $fw: --fw_bold, 
      $fz: size(36), 
      $lh: size(48), 
      $c: --c_h2
    );

    & b {
      color: var(--c_accent);
    }
  }

  &__text {
    margin-top: size(10);
    @include text(
      $ff: --ff_text, 
      $fw: --fw_regular, 
      $fz: size(15), 
      $lh: size(24), 
      $c: --c_text
    );
  }
}
