@use '../utilities' as *;
@include set-block('.b-feature-img');

// ----------------------------------------- display -----------------------------------------

@include b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  @include e('front') {
    margin-left: size(-98);
  }
}

// ----------------------------------------- box -----------------------------------------

@include e('front') {
  width: size(304);
  height: size(609);
}

@include e('back') {
  width: size(265);
  height: size(531);
}

// ----------------------------------------- style -----------------------------------------

@include e('front') {
  object-fit: contain;
}

@include e('back') {
  object-fit: contain;
}