@use '../utilities' as *;
@include set-block('.b-feature-text');

// ----------------------------------------- display -----------------------------------------

@include e('text') {
  margin-top: size(10);
}

// ----------------------------------------- box -----------------------------------------

@include b {
  min-width: size(300);
  max-width: size(465);
}

// ----------------------------------------- text -----------------------------------------

@include e('header') {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  font-size: size(36);
  line-height: size(48);
  color: var(--c-h2);

  & b {
    color: var(--c-accent);
  }
}

@include e('text') {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: size(15);
  line-height: size(24);
  color: var(--c-text);
}
