@use '../utilities' as *;
@include set-block('.b-get-btn');

// ----------------------------------------- display -----------------------------------------

@include b {
  display: block;
}

// ----------------------------------------- box -----------------------------------------

@include b {
  padding: size(20) size(34);
  border-width: size(1);
}

// ----------------------------------------- style -----------------------------------------

@include b {
  border-style: solid;
  border-color: var(--c-header-text);
  border-radius: size(32);

  &:hover {
    background: var(--c-active);
    border-color: var(--c-active);
  }
}

// ----------------------------------------- text -----------------------------------------

@include b {
  font-family: var(--ff-header);
  font-weight: var(--fw-semi-bold);
  font-size: size(16);
  line-height: size(16);
  color: var(--c-header-text);
  text-transform: uppercase;
}

// ----------------------------------------- animation -----------------------------------------

@include b {
  transition: var(--t-all);
}
