@use '../utilities' as *;

.b-header-text {
  &__header {
    font-family: var(--ff-header);
    font-weight: var(--fw-bold);
    font-size: size(48);
    line-height: size(52);
    color: var(--c-header-text);
    text-transform: uppercase;
  }

  &__accent {
    font-family: var(--ff-header);
    font-weight: var(--fw-light);
    font-size: size(48);
    line-height: size(52);
    color: var(--c-accent);
    text-transform: uppercase;

    & > b {
      font-weight: var(--fw-bold);
    }
  }

  &__secondary-header {
    display: block;

    font-family: var(--ff-header);
    font-weight: var(--fw-light);
    font-size: size(36);
    line-height: size(52);
    color: var(--c-header-text);
    text-transform: uppercase;
  }

  &__text {
    margin-top: size(20);

    font-family: var(--ff-header);
    font-weight: var(--fw-regular);
    font-size: size(18);
    line-height: size(30);
    color: var(--c-header-text);
  }
}
