@use '../utilities' as *;

@mixin b-nav($action, $args...) {
  .b-nav {
    @if $action == 'init' { @include _main; }
    @else if $action == 'original-size' { @include original-size; }
    @else if $action == 'show' { @include show-block; }
    @else if $action == 'hide' { @include hide; }
    @else if $action == 'area' { @include area($args...); }

    @else { @error 'No such action - #{$action}'; }
  }
}
 

@mixin _main {
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item {
    padding: 0 size(15);
  }

  &__link {
    @include hover-center-line(size(1), size(-10), var(--c-header-text), var(--d-all));

    font-family: var(--ff-header);
    font-weight: var(--fw-regular);
    font-size: size(16);
    line-height: size(34);
    color: var(--c-header-text);
    text-transform: uppercase;
  }
}