@use '../utilities' as *;
@include set-block('.b-overview-list');

// ----------------------------------------- display -----------------------------------------

@include b {
  @include flex(wrap, flex-start, flex-start);
}

@include e('item') {
  margin: size(30) size(15);
}

@include e('outer-circle') {
  @include flex(nowrap, center, center);
  margin: 0 auto;
}

@include e('inner-circle') {
  @include flex(nowrap, center, center);
}

@include e('icon-circle') {
  @include flex(nowrap, center, center);
}

@include e('header') {
  margin-top: size(40);
}

@include e('text') {
  margin-top: size(20);
}

// ----------------------------------------- box -----------------------------------------

@include e('item') {
  width: size(270);
}

@include e('outer-circle') {
  width: size(145);
  height: size(145);
}

@include e('inner-circle') {
  width: size(115);
  height: size(115);
}

@include e('icon-circle') {
  width: size(85);
  height: size(85);
}

// ----------------------------------------- style -----------------------------------------

@include e('item:nth-child(1)') { @include e-nested('icon-circle') { background: var(--c-active); } }
@include e('item:nth-child(2)') { @include e-nested('icon-circle') { background: var(--c-accent); } }
@include e('item:nth-child(3)') { @include e-nested('icon-circle') { background: var(--c-overview1); } }
@include e('item:nth-child(4)') { @include e-nested('icon-circle') { background: var(--c-overview2); } }

@include e('outer-circle') {
  background: var(--c-header-text);
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

@include e('inner-circle') {
  background: var(--c-header-text);
  border-radius: 100%;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

@include e('icon-circle') {
  border-radius: 100%;
}

// ----------------------------------------- text -----------------------------------------

@include e('header') {
  @include text(var(--ff-header), var(--fw-bold), size(18), size(18), var(--c-h3));
  text-align: center;
}

@include e('text') {
  @include text(var(--ff-text), var(--fw-regular), size(15), size(24), var(--c-text));
  text-align: center;
}