<!-- BEGIN BLOCK HEADER-TEXT -->
<div class="b-header-text">
  <h1 class="b-header-text__header">
    <span class="b-header-text__accent"><b>App</b>nest</span> Best Mobile
    <span class="b-header-text__secondary-header">App Landing Page</span>
  </h1>
  <p class="b-header-text__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quia laboriosam adipisci assumenda quis
  </p>
</div>
<!-- END BLOCK HEADER-TEXT -->
