@use '../utilities/' as *;
@include set-block('.b-header-img');

// ----------------------------------------- box -----------------------------------------

@include b {
  width: size(540);
  height: size(623);
}

// ----------------------------------------- style -----------------------------------------

@include b {
  object-fit: contain;
}
