<div class="video">
	<div class="video__poster">
		<img src="img/table.jpg" alt="video poster" class="video__img">
		<div class="video__icon-wrap">
			<i class="video__icon icon icon-Play-Icon"></i>
		</div>	
	</div>
</div>
