<header class="header">
	<div class="header__top-grid">
		{{> blocks/logo/logo }}
		{{> blocks/nav/nav }}
		{{> blocks/burger/burger }}
		{{> blocks/get-btn/get-btn }}
	</div>
	<div class="header__center-grid">
		{{> blocks/header-text/header-text }}
		{{> blocks/header-img/header-img }}
		{{> blocks/vendor-btns/vendor-btns }}
	</div>	
</header>