.features {
	background: var( --c_bg2 );

	&__container { @extend %container, %nopadding; }
}

// grid

.features__container {
	display: grid;

	& .feature-img  { grid-area: i; }
	& .feature-text { grid-area: t; }
	& .feature-list { grid-area: l; }

	& .feature-img  { @include align( center, start ); }
	& .feature-text { @include align( center, start ); }
	& .feature-list { @include align( center, start ); }
	
	& .feature-list { 
		@include flex( wrap, center, flex-start );

		text-align: center;

		&__item { margin: 35rem 15rem; }
		& .feature-list__icon { justify-self: center; }
	}
	
	& .feature-text { 
		margin: 0 15rem; 

		text-align: center; 
	}
	
	--cols_width: 0 1fr 0;
	grid-template:
		". . ." var( --v_padding )
		". t ." max-content
		". . ." var( --v_padding )
		". l ." max-content
		". . ." var( --v_padding )
		". i ." max-content
		". . ." var( --v_padding )
		/ var( --cols_width );

	@include from_600 {
		--cols_width: 1fr 500rem 1fr;
	}

	@include from_1280 {
		& .feature-img  { @include align( start, start ); }
		& .feature-text { @include align( start, start ); }
		& .feature-list { @include align( start, start ); }

		& .feature-img  { margin: 8rem 15rem 0 15rem; }
		& .feature-text { text-align: left; }
		& .feature-list { text-align: left; & .feature-list__icon { justify-self: start; } }

		grid-template:
			". ." 122rem
			"i t" max-content
			"i ." 10rem
			"i l" max-content
			". ." 140rem
			/ 1fr 1fr;
	}	
}


