<section class="features">
	<div class="features__container">
		{{> blocks/feature-img/feature-img }}
		{{> blocks/feature-text/feature-text }}
		{{> blocks/feature-list/feature-list }}
	</div>
</section>