<ul class="overview-list">
  <li class="overview-list__item">
    <div class="overview-list__outer-circle">
      <div class="overview-list__inner-circle">
        <div class="overview-list__icon-circle">
          <i class="overview-list__icon icon icon-Edit-Icon"></i>
        </div>
      </div>
    </div>
    <h3 class="overview-list__header">Clean Design</h3>
    <p class="overview-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum sapiente,
      deserunt optio</p>
  </li>
  <li class="overview-list__item">
    <div class="overview-list__outer-circle">
      <div class="overview-list__inner-circle">
        <div class="overview-list__icon-circle">
          <i class="overview-list__icon icon icon-User-Friendly"></i>
        </div>
      </div>
    </div>
    <h3 class="overview-list__header">User Friendly</h3>
    <p class="overview-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum sapiente,
      deserunt optio</p>
  </li>
  <li class="overview-list__item">
    <div class="overview-list__outer-circle">
      <div class="overview-list__inner-circle">
        <div class="overview-list__icon-circle">
          <i class="overview-list__icon icon icon-Setting"></i>
        </div>
      </div>
    </div>
    <h3 class="overview-list__header">Easy to Use</h3>
    <p class="overview-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum sapiente,
      deserunt optio</p>
  </li>
  <li class="overview-list__item">
    <div class="overview-list__outer-circle">
      <div class="overview-list__inner-circle">
        <div class="overview-list__icon-circle">
          <i class="overview-list__icon icon icon-Branding-Icon"></i>
        </div>
      </div>
    </div>
    <h3 class="overview-list__header">Branding</h3>
    <p class="overview-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum sapiente,
      deserunt optio</p>
  </li>
</ul>