<!-- BEGIN S-HEADER -->
<header class="s-header">
  <div class="s-header__top-grid">
    {{> b-logo }}
    {{> b-nav }}
    {{> b-burger }}
    {{> b-get-btn }}
  </div>
  <div class="s-header__center-grid">
    {{> b-header-text }}
    {{> b-header-img }}
    {{> b-vendor-btns }}
  </div>
</header>
<!-- END S-HEADER -->
