<header class="s-header">
  <div class="s-header__top-grid">
    {{> b-logo/b-logo }}
    {{> b-nav/b-nav }}
    {{> b-burger/b-burger }}
    {{> b-get-btn/b-get-btn }}
  </div>
  <div class="s-header__center-grid">
    {{> b-header-text/b-header-text }}
    {{> b-header-img/b-header-img }}
    {{> b-vendor-btns/b-vendor-btns }}
  </div>
</header>