<div class="vendor-btns">
	<a href="#" class="vendor-btns__link">	
		<button class="vendor-btns__btn vendor-btns__apple{{#if dark}} vendor-btns__btn--dark{{else}} vendor-btns__btn--light{{/if}}" 
				type="button">
			<i class="vendor-btns__icon icon{{#if dark}} icon-Apple-dark{{else}} icon-Apple{{/if}}"></i>
			<span class="vendor-btns__text">download from</span>
			<b class="vendor-btns__vendor">Apple Store</b>
		</button>
	</a>
	<a href="#" class="vendor-btns__link">
		<button class="vendor-btns__btn vendor-btns__play{{#if dark}} vendor-btns__btn--dark{{else}} vendor-btns__btn--light{{/if}}" 
				type="button">
			<i class="vendor-btns__icon icon{{#if dark}} icon-Play-store-dark{{else}} icon-Play-store{{/if}}"></i>
			<span class="vendor-btns__text">download from</span>
			<b class="vendor-btns__vendor">Play Store</b>
		</button>
	</a>
</div>

