@use 'modules/types' as *;
@use 'modules/prop' as *;
@use 'modules/number';
@use 'modules/color';

// ----------------------------------------- screen height section -----------------------------------------

@mixin screen-height-section($bps) {
  $bps: validate($bps, 'map');

  @each $width, $heights in $bps {
    $width: validate($width, 'number');
    $heights: validate($heights, 'list');

    $width: number.to-px($width);
    $min-height: number.to-px(nth($heights, 1));
    $max-height: number.to-px(nth($heights, 2));

    @if $min-height == $max-height {
      @media only screen and (min-width: $width) { height: auto; }
    } @else {
      @media only screen and (min-width: $width) { min-height: $min-height; }
      @media only screen and (min-width: $width) and (max-height: $max-height) { height: 100vh; }
    }
  }
}

// ----------------------------------------- hover lines -----------------------------------------

@mixin hover-center-line($height, $bottom, $color, $transition, $position: relative) {
  position: $position;

  &::after {
    position: absolute;
    left: 50%;
    bottom: $bottom;
    content: '';
    width: 0%;
    height: $height;
    background: $color;
    transition: $transition;
  }

  &:hover::after {
    display: block;
    left: 0;
    width: 100%;
  }
}

@mixin hover-left-line($height, $bottom, $color, $transition, $position: relative) {
  position: $position;

  &::after {
    position: absolute;
    left: 0;
    bottom: $bottom;
    content: '';
    background: $color;
    width: 0%;
    height: $height;
    transition: $transition;
  }

  &:hover::after {
    display: block;
    width: 100%;
  }
}

@mixin hover-right-line($height, $bottom, $color, $transition, $position: relative) {
  position: $position;

  &::after {
    position: absolute;
    right: 0;
    bottom: $bottom;
    content: '';
    background: $color;
    width: 0%;
    height: $height;
    transition: $transition;
  }

  &:hover::after {
    display: block;
    width: 100%;
  }
}

// ----------------------------------------- overlay -----------------------------------------

@mixin overlay($color-var, $opacity, $position: relative, $z: 0) {
  position: $position;
  z-index: $z;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block; 

    content: '';
    width: 100%;
    height: 100%;

    background: color.set-opacity($color-var, $opacity);
  }
}

// ----------------------------------------- text-fade -----------------------------------------

@mixin text-fade($height, $color, $position: relative) {
  position: $position;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    content: '';
    width: 100%;
    height: $height;

    background: linear-gradient(to bottom, transparent, $color);
  }
}

// ----------------------------------------- media -----------------------------------------

@mixin from_0 { @content; }

// mobile
@mixin from_320 { @media screen and (min-width: 320px) { @content; } }
@mixin from_360 { @media screen and (min-width: 360px) { @content; } }
@mixin from_375 { @media screen and (min-width: 375px) { @content; } }
@mixin from_393 { @media screen and (min-width: 393px) { @content; } }
@mixin from_412 { @media screen and (min-width: 412px) { @content; } }
@mixin from_480 { @media screen and (min-width: 480px) { @content; } }

// tablet
@mixin from_600 { @media screen and (min-width: 600px) { @content; } }
@mixin from_768 { @media screen and (min-width: 768px) { @content; } }
@mixin from_800 { @media screen and (min-width: 800px) { @content; } }
@mixin from_834 { @media screen and (min-width: 834px) { @content; } }
@mixin from_960 { @media screen and (min-width: 960px) { @content; } }
@mixin from_1024 { @media screen and (min-width: 1024px) { @content; } }

// desktop
@mixin from_1280 { @media screen and (min-width: 1280px) { @content; } }
@mixin from_1366 { @media screen and (min-width: 1366px) { @content; } }
@mixin from_1440 { @media screen and (min-width: 1440px) { @content; } }
@mixin from_1536 { @media screen and (min-width: 1536px) { @content; } }
@mixin from_1600 { @media screen and (min-width: 1600px) { @content; } }
@mixin from_1920 { @media screen and (min-width: 1920px) { @content; } }
@mixin from_2560 { @media screen and (min-width: 2560px) { @content; } }
@mixin from_3840 { @media screen and (min-width: 3840px) { @content; } }

// ----------------------------------------- common actions -----------------------------------------

@mixin common-action($action, $args...) {
  @if $action == 'original-size'   { @include original-size; }
  @if $action == 'fluid-text-size' { @include fluid-text-size; }

  @if $action == 'show-block'      { @include show-block; }
  @if $action == 'show-flex'       { @include show-flex; }
  @if $action == 'hide'            { @include hide; }
 
  @if $action == 'center'          { @include center; }
  @if $action == 'left'            { @include left; }
  @if $action == 'right'           { @include right; }
 
  @if $action == 'area'            { @include area($args...); }
 
  @if $action == 'content'         { @content; }
}

@mixin original-size { --size: 100px; }
@mixin fluid-text-size { --size: var(--fluid-text); }

@mixin show-block { display: block; }
@mixin show-flex { display: flex; }
@mixin hide { display: none; }

@mixin center { text-align: center; }
@mixin left { text-align: left; }
@mixin right { text-align: right; }

@mixin area($area, $justify, $align) { 
  grid-area: $area; 
  justify-self: $justify; 
  align-self: $align; 
}



