<!DOCTYPE html>
<html>
<head>
	{{> meta }}
	{{> style }}
</head>
<body >
	
	{{> sections/header/header }}
	{{> sections/overview/overview }}
	{{> sections/features/features }}
	{{> sections/video-overview/video-overview }}
	{{> sections/screenshots/screenshots }}

{{!-- 	<div style="background: #fff; border: 1px solid black; margin: 50px; padding: 50px;">
		{{> blocks/screenshots-pagination/screenshots-pagination }}
	</div> --}}

	<div id="test">

	</div>

</body>
</html>

