<section class="screenshots">
  <div class="screenshots__container">
    {{> blocks/screenshots-text/screenshots-text }}
    {{> blocks/screenshots-list/screenshots-list }}
    {{> blocks/screenshots-pagination/screenshots-pagination }}
  </div>
</section>