<!-- BEGIN C-TOP-LINE -->
<div class="c-top-line">
  {{> b-burger class="c-top-line__burger" }}
  {{> b-logo class="c-top-line__logo" }}
  {{> b-nav class="c-top-line__nav" }}
  {{> b-get-btn class="c-top-line__get-btn" }}
</div>
<!-- END C-TOP-LINE -->
