<!-- BEGIN C-VENDOR-BTN-LIST -->
<ul class="c-vendor-btn-list">
  <li class="c-vendor-btn-list__item">
    {{> b-vendor-btn type='apple' style='light' }}
  </li>
  <li class="c-vendor-btn-list__item">
    {{> b-vendor-btn type='play' style='light' }}
  </li>
</ul>
<!-- END C-VENDOR-BTN-LIST -->
