<!-- BEGIN C-VENDOR-BTN -->
<a href="#" class="c-vendor-btn c-vendor-btn--{{type}} c-vendor-btn--{{style}} {{class}}">
  {{> b-vendor-icon class="c-vendor-btn__icon" }}
  {{> b-vendor-text class="c-vendor-btn__text" }}
  {{> b-vendor-store class="c-vendor-btn__store" type=type }}
</a>
<!-- END C-VENDOR-BTN -->