<!-- BEGIN BLOCK VENDOR-BTNS -->
<div class="b-vendor-btns">
  <a href="#" class="b-vendor-btns__link">
    <button
      class="b-vendor-btns__btn b-vendor-btns__apple{{#if dark}} b-vendor-btns__btn--dark{{else}} b-vendor-btns__btn--light{{/if}}"
      type="button">
      <i class="b-vendor-btns__icon icon{{#if dark}} icon-Apple-dark{{else}} icon-Apple{{/if}}"></i>
      <span class="b-vendor-btns__text">download from</span>
      <b class="b-vendor-btns__vendor">Apple Store</b>
    </button>
  </a>
  <a href="#" class="b-vendor-btns__link">
    <button
      class="b-vendor-btns__btn b-vendor-btns__play{{#if dark}} b-vendor-btns__btn--dark{{else}} b-vendor-btns__btn--light{{/if}}"
      type="button">
      <i class="b-vendor-btns__icon icon{{#if dark}} icon-Play-store-dark{{else}} icon-Play-store{{/if}}"></i>
      <span class="b-vendor-btns__text">download from</span>
      <b class="b-vendor-btns__vendor">Play Store</b>
    </button>
  </a>
</div>
<!-- END BLOCK VENDOR-BTNS -->
