<section class="s-features">
  <div class="s-features__container">
    {{> b-feature-img/b-feature-img }}
    {{> b-feature-text/b-feature-text }}
    {{> b-feature-list/b-feature-list }}
  </div>
</section>