:root {
  --c-accent: #00cff1;
  --c-active: #24c657;
  --c-overlay: rgba(53, 32, 59, 0.9);

  --c-overview1: #ff45c4;
  --c-overview2: #ff9d46;

  --c-header_text: #ffffff;
  --c-text: #565656;

  --c-h2: #282828;
  --c-h3: #414040;
  --c-pagination: #ebe9ff;

  --c-bg1: #fbfbfb;
  --c-bg2: #ffffff;
  
  --c-facebook: #3b5998;
  --c-twitter: #55acee;
  --c-instagram: #6a453b;
  --c-linked: #007ab9;
}
