:root {
  --c_accent: #00cff1;
  --c_active: #24c657;
  --c_overlay: rgba(53, 32, 59, 0.9);
  --c_overview1: #ff45c4;
  --c_overview2: #ff9d46;

  --c_header_text: #ffffff;
  --c_text: #565656;
  --c_h2: #282828;
  --c_h3: #414040;

  --c_pagination: #ebe9ff;

  --c_bg1: #fbfbfb;
  --c_bg2: #ffffff;

  --c_facebook: #3b5998;
  --c_twitter: #55acee;
  --c_instagram: #6a453b;
  --c_linked: #007ab9;
}
