$weights: (
  'thin': 100,
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900
);

$fonts: (
  'header': ("Poppins", sans-serif),
  'text': ("Raleway", sans-serif)
);

$colors: (
  'accent': #00cff1,
  'active': #24c657,
  'overlay': #35203b,

  'overview1': #ff45c4,
  'overview2': #ff9d46,

  'header-text': #ffffff,
  'text': #565656,

  'h2': #282828,
  'h3': #414040,
  'pagination': #ebe9ff,

  'bg1': #fbfbfb,
  'bg2': #ffffff,
  
  'facebook': #3b5998,
  'twitter': #55acee,
  'instagram': #6a453b,
  'linked': #007ab9
);

$text-breakpoints: (320: 60px, 1280: 100px);