@use 'sass:string';
@use 'sass:list';
@use 'is-string' as *;
@use 'is-list' as *;
@use 'normalize-value' as *;

@function process-var($value) {
  $value: normalize-value($value);
  
  @if is-list($value) {
    $result: ();
    @each $elem in $value {
      $result: list.append($result, process-var($elem));
    }
    
    @return $result;
  } @else if is-string($value) and string.index($value, "--") == 1 {
    @return var($value);
  } @else {
    @return $value;
  }
}
