@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';
@use 'is-number' as *;
@use 'is-list' as *;
@use 'is-map' as *;
@use 'strip-unit' as *;

@function to-px($value) {
  @if is-number($value) {
    @return strip-unit($value) * 1px;
  } @else if is-list($value) {

    $result: ();
    @each $elem in $value {
      $result: list.append($result, to-px($elem));
    }

    @return $result;
  } @else if is-map($value) {

    $result: ();
    @each $key, $val in $value {
      $result: map.set($result, to-px($key), to-px($val));
    }

    @return $result;
  } @else {
    @error "to-px() expects 'number' or 'list'/'map' of numbers, '#{meta.type-of($value)}' - provided";
  }
}