<ul class="screenshots-pagination">
	<li class="screenshots-pagination__item">
		<button class="screenshots-pagination__btn" type="button"></button>
	</li>
	<li class="screenshots-pagination__item">
		<button class="screenshots-pagination__btn" type="button"></button>
	</li>
	<li class="screenshots-pagination__item">
		<button class="screenshots-pagination__btn" type="button"></button>
	</li>
</ul>