@use '../mixins/box' as *;

%container {
  @include box(
    $ma-wi: 1200px, 
    $pa-le: fluid (320: 15px, 768: 45px, 1280: 15px),
    $pa-ri: fluid (320: 15px, 768: 45px, 1280: 15px), 
    $ma-le: auto,
    $ma-ri: auto
  );
}

%container-no-padding {
  @include box(
    $ma-wi: 1200px, 
    $ma-le: auto,
    $ma-ri: auto
  );
}
