<ul class="feature-list">
	<li class="feature-list__item">
		<i class="feature-list__icon icon icon-Icon"></i>
		<h3 class="feature-list__header">Premium Quality</h3>
		<p class="feature-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum</p>
	</li>
	<li class="feature-list__item">
		<i class="feature-list__icon icon icon-Icon2"></i>
		<h3 class="feature-list__header">Retina Ready</h3>
		<p class="feature-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum</p>
	</li>
	<li class="feature-list__item">
		<i class="feature-list__icon icon icon-Icon3"></i>
		<h3 class="feature-list__header">Top Class Security</h3>
		<p class="feature-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum</p>
	</li>
	<li class="feature-list__item">
		<i class="feature-list__icon icon icon-Forma-1"></i>
		<h3 class="feature-list__header">Excellent Support</h3>
		<p class="feature-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum</p>
	</li>
</ul>