<section class="s-video-overview">
  <div class="s-video-overview__container">
    {{> b-video-overview-text/b-video-overview-text }}
    {{> b-vendor-btns/b-vendor-btns dark=true }}
    {{> b-video/b-video }}
  </div>
</section>