.burger {
  --size: var(--text_size);

  padding: size(10);
  border: size(1) solid var(--c_header_text);
  border-radius: size(6);

  color: var(--c_header_text);

  transition: 0.3s;

  &:hover {
    color: var(--c_active);

    border-color: var(--c_active);
  }

  & .fas {
    font-size: size(33);
    line-height: size(35);
  }
}
