<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> style }}
  <style>
    body {
      background: #24c657;
      background: #fff;
      background: #35203b;
    }
  </style>
</head>
<body>
  {{> c-top-line }}
  {{> c-header-content }}
</body>
</html>