<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> style }}
</head>
<body>
  {{> s-header }}
  {{> s-overview }}
  {{> s-features }}
  {{> s-video-overview }}
  {{> s-screenshots }}
  {{> s-stats }}
</body>
</html>