<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> style }}
  <style>
    body {
      background: #24c657;
      background: #fff;
      background: #35203b;
    }
  </style>
</head>
<body id="home">
  {{> b-vendor-btn type='apple' style='light' }}
  {{> b-vendor-btn type='play' style='light' }}
</body>
</html>